.icon-bar {
  position: fixed;
  top: 80%;
  overflow: auto; 
}

.icon-bar a {
  display: block;
  padding: 16px;
  color: white;
  font-size: 10px;
}

.icon-bar a:hover {
  background-color: #000;
}

.whatsapp {
  background: #4FCE5D;
  color: white;
}

.phone {
  background: #55ACEE;
  color: white;
}
