.icon-bar {
  position: fixed;
  top: 80%;
  display: block;
}

.icon-bar a {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.whatsapp {
  background: #4FCE5D;
  color: white;
}

.phone {
  background: #55ACEE;
  color: white;
}
